* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}
header{
  width:100%;
  background-color: beige;
}
nav
  ul 
    li
      a{
        /* display:block; */
        text-decoration: none;
        color: black;
        margin-top:20px;
        padding-right:80px;
        
}
nav
  ul{
    display:flex;
    justify-content: space-around;
    align-items:center;
    list-style-type:none;
    height:60px;
  }
